.ordersContainer {
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  height: max-content;
  background-color: var(--l-yellow);
}

.orderContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1.5fr);
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem;
}

.ordersTitle{
  width: 100%;
  text-align: center;

}

.orderItem {
  display: flex;
  justify-content: center;
  max-height: 40vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--yellow);
  border-radius: var(--border-all);
  padding: 1rem;
  margin: 0.5rem auto;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.5);
}

.orderItemReady {
  display: flex;
  justify-content: center;
  max-height: 40vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--yellow);
  border-radius: var(--border-all);
  padding: 1rem;
  margin: 0.5rem auto;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.5);
}

.orderInfoContainer{
  display: grid;
  grid-template-columns: 1fr 3fr ;
  width: 100%;
}

.orderClientInfo {
  width: 20%;
  font-weight: bold;
} 

.orderRemoveBtn {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  border-radius: 100%;
  margin: 0px 0px 0px 98%;
}

.orderItemsName {
  display: grid;
  grid-template-columns: 0.4fr 3fr 1fr;
  padding: 0.5rem 0rem;
}

.orderItemsContainer {
  margin: 0.8rem 0rem;
  width: 100%;
}

.itemsTitle {
  width: 100%;
  font-weight: bold;
}

.orderCheckBtn {
  background-color: var(--orange);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--border-all);
  margin: 0.5rem auto 0.5rem auto;
  padding: 1rem 2rem;
  text-align: center;
  height: 3rem;
  font-weight: bolder;
  /* width: 100%; */
}

.orderCheckBtnReady {
  background-color: var(--d-green);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--border-all);
  margin: 0.5rem auto 0.5rem auto;
  padding: 1rem 2rem;
  text-align: center;
  height: 3rem;
  font-weight: bolder;
}

.orderStatus {
  color: var(--red);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.orderStatusFalse {
  color: var(--d-green);
  font-weight: bold;
  width: 100%;
  margin: 0.5rem auto;
}

.separate {
  border: 0.2px solid var(--separate);
  width: 100%;
  height: 0px;
  opacity: .3;
}

@media (max-width: 1180px) {
  .orderContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1.5fr);
  }

  .orderItem {
    height: 50vh;
  }

  .orderItemReady {
    height: 50vh;
  }

}

@media (max-width: 820px) {
  .orderContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1.5fr);
  }

  .orderItem {
    max-height: 40vh;
  }

  .orderItemReady {
    max-height: 40vh;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--d-yellow);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--d-orange);
  border-radius: 5px;
}


.icons{
  width: 5vh;
}

.ordersMenuText{
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.ordersMenu{
  display: flex;
  justify-content: center;
  background-color: var(--green);
  width: 50vh;
  height: 12vh;
  border-radius: var(--border);
  margin: 1rem auto;
  border-radius: 10px;
}

.tabs {
  width: 50%;
  padding: 10px;
  background: var(--green);
  cursor: pointer;
  box-sizing: content-box;
  outline: none;
  border: none;
  margin: 0rem auto;
  border-radius: 10px 0px 0px 10px;
}

.activeTabs {
  width: 50%;
  background: var(--d-green);
  border-bottom: 1px solid transparent;
  padding: 10px;
  cursor: pointer;
  box-sizing: content-box;
  outline: none;
  border: none;
  margin: 0rem auto;
  border-radius: 10px 0px 10px 10px;
}

.content {
  width: 45%;
  display: none;
}

.activeContent {
  display: flex;
  background-color: transparent;
  margin: 0rem 2rem;
}

